[submodule "catkin_ws/src/ros-system-stats"]
	path = catkin_ws/src/ros-system-stats
	url = http://github.com/dheera/ros-system-stats
[submodule "catkin_ws/src/ros-ford-can"]
	path = catkin_ws/src/ros-ford-can
	url = http://github.com/dheera/ros-ford-can
[submodule "catkin_ws/src/ublox"]
	path = catkin_ws/src/ublox
	url = http://github.com/flynneva/ublox
[submodule "catkin_ws/src/ros-road-segmentation"]
	path = catkin_ws/src/ros-road-segmentation
	url = https://github.com/dheera/ros-road-segmentation
